# Python
__pycache__/
*.py[cod]
*$py.class
.DS_Store
venv/
logs/
.env
*.pyc
*.dylib
.dylibs/
dist/
build/
*.egg-info/
.venv
ENV/
*.pyc
.pytest_cache/
*.so
.Python

# IDE specific
.vscode/
.idea/
*.swp
*.swo
*~

# Project specific
logs/
data/
*.log